{% extends 'base.html.twig' %}

{% block title %}Client Details{% endblock %}

{% block body %}
    <h1>{{ client.firstname }} {{ client.lastname }}</h1>
    <p>Email: {{ client.email }}</p>
{% endblock %}
