{% extends 'base.html.twig' %}

{% block title %}Client Details{% endblock %}

{% block body %}
    <h1>Client</h1>
    <p>Client : {{ client.firstname }} {{ client.lastname }}</p>
    <p>Email: {{ client.email }}</p>

{% endblock %}
